@import url('https://fonts.cdnfonts.com/css/neue-haas-grotesk-text-pro');
* {
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif;
    font-weight: 700 !important;
}
body {
    background-color: #F88C8C;
    overflow-x: hidden;
    overflow-y: scroll;
}
main {
    position: relative;
}

#scrollview {
    padding-top: 10rem;
    padding-bottom: 2rem;
    height: 100vh;
}
#signin-btn {
    float: left;
    background-color: #4f4cec
}
.btn-primary {
    background-color: #4f4cec !important;
}

comment-message {
    background-color: #fff;
}
textarea {
    background-color: #ffffff85 !important;
}
.btn:hover {
    opacity: 0.75;
    transition: ease;
    transition-duration: 0.5s;
}

@media only screen and (max-width: 800px) {
    .card-text {
        float: none !important;
        font-size: 4vw !important;
    }
    #tell-aisd-no {
        font-size: 6vw !important;
    }
    #comment {
        font-size: 3.25vw;
        padding-left: 7.5vw;
    }
    #scrollview {
        padding-top: 3rem;
    }
} 